@charset "utf-8";
/*
 * objact/component/_head.scss
 */

.c-head {
	position: relative;
	padding: 5px 10px;
	color: #ffffff;
	@include fs14;
	font-weight: bold;
}

.c-head--service {
	margin-bottom: 15px;
	padding-bottom: 5px;
	border-bottom: 2px solid #404040;
	@include fs18;
	font-weight: bold;
}

.c-head-graph {
	margin-bottom: 10px;
	padding: 8px 8px 6px;
	background-color: #5f5f5f;
	color: #ffffff;
	@include fs12;
	font-weight: bold;
	text-shadow: -1px -1px 0 rgba(0,0,0,.3);
}

.c-head-graph--cardloan {
	border-bottom: 3px solid #ff9b0a;
}

.c-head-graph--creditcard {
	border-bottom: 3px solid #5eb9bc;
}

.c-head-graph--fx {
	border-bottom: 3px solid #0c66ab;
}

.c-head-graph--datsumo {
	border-bottom: 3px solid #fba8a2;
}

.c-head-graph--denki {
	border-bottom: 3px solid #fdd10c;
}

.c-head-graph--vod {
	border-bottom: 3px solid #3f3b3b;
}

.c-head-graph--sim {
	border-bottom: 3px solid #184967;
}

.c-head-graph--cardloan-hikaku {
	border-bottom: 3px solid #f02600;
}

.c-head-graph--creditcard-hikaku {
	border-bottom: 3px solid #1095d7;
}

.c-head-graph--fx-hikaku {
	border-bottom: 3px solid #087077;
}

.c-head-service-graph {
	margin-bottom: 15px;
	padding: 0 0 3px 3px;
	border-bottom: 1px solid #404040;
	color: #333333;
	@include fs16;
	font-weight: bold;
}