@charset "utf-8";
/*
 * objact/component/_lnk.scss
 */

.c-link {
	color: #ffffff;
	-webkit-transition: color .3s;
	transition: color .3s;
	&:hover {
		color: #61dafb;
		-webkit-transition: color .3s;
		transition: color .3s;
	}
}