@charset "utf-8";
/*
 * layout/_core.scss
 */
html,
body {
	position: relative;
	min-height: 100%;
}

html {
	height: 100%;
}

#page-login {
	@include bg-img('bg_login_base.png');
	background-repeat: repeat-y;
	background-size: 100% auto;
}

#page-content {
	position: relative;
	min-height: 100%;
}

#content-wrapper {
	width: 800px;
	margin: 0 auto;
	padding-top: 64px;
	background-color: #ffffff;
}

#l-form {
	width: 580px;
	margin: 0 auto;
	padding-bottom: 25px;
}

#content-top-wrapper {
	padding: 20px;
}

#content-top-wrapper--rate {
	padding: 0 20px 20px;
}

#content-other-wrapper {
	width: 580px;
	margin: 0 auto;
	padding: 20px 0;
}

// sample page
#content-wrapper-sample {
	width: 1040px;
	margin: 0 auto;
	padding-top: 64px;
	background-color: #ffffff;
}

#main-sample {
	float: left;
	width: 660px;
}

#side-sample {
	float: right;
	width: 320px;
}

