@charset "utf-8";
/*
 * objact/project/_graph.scss
 */

.p-graph-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.p-graph-list__item {
	align-items: stretch;
	flex-basis: 32.5%;
	margin-bottom: 10px;
	background-color: #ffffff;
	box-sizing: border-box;
}

.p-graph-list__item__body {
	padding: 10px;
	box-sizing: border-box;
	border-left: 1px solid #d2d2d2;
	border-right: 1px solid #d2d2d2;
	border-bottom: 1px solid #d2d2d2;
}

.p-graph-pie {
	position: relative;
	width: 450px;
}

.p-graph-pie__labels {
	position: absolute;
    top: 45%;
    right: 15px;
	li {
		span {
			display: inline-block;
			width: 20px;
			height: 10px;
			margin-right: 5px;
		}
		&:first-child {
			span { background-color: #f7464a; }
		}
		&:nth-child(2) {
			span { background-color: #46bfbd; }
		}
		&:nth-child(3) {
			span { background-color: #fdb45c; }
		}
		&:nth-child(4) {
			span { background-color: #949fb1; }
		}
		&:last-child {
			span { background-color: #4d5360; }
		}
	}
}
