@charset "utf-8";
/*
 * objact/project/_navigation.scss
 */

.p-navigation {

}

.p-navigation__item {
	padding: 10px 10px 8px 12px;
	box-sizing: border-box;
	cursor: pointer;
	a {
		color: #ffffff;
		transition: color .3s;
	}
	&:hover{
		a {
			color: #61dafb;
			transition: color .3s;
		}
	}
	&.is-active {
		background-color: #5f5f5f;
		transition: all .3s;
		a {
			color: #61dafb;
		}
		&:first-child {
			background-color: transparent;
			a {
				color: #ffffff;
				&:hover {
					color: #61dafb;
					transition: all .3s;
				}
			}
		}
	}
}

.p-toggle-side-vav {
	display: none;
	position: absolute;
	right: -40px;
	width: 40px;
	height: 40px;
	padding: 13px 2px;
	border-radius: 0 3px 3px 0;
	background-color: #2d2d2d;
	color: #ffffff;
	@include fs-base;
	font-weight: bold;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 0 2px 3px rgba(0,0,0,.2);
}

@media only screen and (max-width: 640px) {
	.p-toggle-side-vav {
		display: block;
	}
}