@charset "utf-8";
/*
 * objact/project/_navigation.scss
 */

.p-navigation {

}

.p-navigation__item {
	padding: 10px 10px 8px 12px;
	box-sizing: border-box;
	cursor: pointer;
	a {
		color: #ffffff;
		-webkit-transition: color .3s;
		transition: color .3s;
	}
	&:hover{
		a {
			color: #61dafb;
			-webkit-transition: color .3s;
			transition: color .3s;
		}
	}
	&.is-active {
		background-color: #666666;
		a {
			color: #61dafb;
		}
	}
}